#parse('templates/header.vm')

<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <h3>Components</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <form action="search_for_components" method="post">
            <div class="form-group col-xs-18">
                <button type="submit" class="btn btn-primary">Re-run search</button>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th class="text-center">Subnet ID</th>
                    <th class="text-center">Device ID</th>
                    <th>Remark</th>
                    <th>Type</th>
                </tr>
                </thead>
                <tbody>
                #foreach ($component in $components)
                <tr>
                    <td class="text-center">$component.subnet</td>
                    <td class="text-center">$component.deviceId</td>
                    <th>$component.remark</th>
                    <td>$component.description</td>
                </tr>
                #end
                </tbody>
            </table>
        </div>
    </div>
</div>

#parse('templates/footer.vm')
