#parse('templates/header.vm')

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>Subnet ID</th>
                    <th>Device ID</th>
                    <th>Remark</th>
                    <th>Type</th>
                </tr>
                </thead>
                <tbody>
                #foreach ($component in $components)
                <tr>
                    <td>$component.subnet</td>
                    <td>$component.deviceId</td>
                    <th>$component.remark</th>
                    <td>$component.description</td>
                </tr>
                #end
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>

#parse('templates/footer.vm')
