#parse('templates/header.vm')

<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <h3>Security</h3>
        <p>It's strongly recommended to use HTTPS for this server. If not using HTTPS and accessing it from Internet someone might pick up the commands being sent. The commands can replayed and someone might guess how to use other
            commands.</p>

        <p>The reason there is no login for the frontend of the web server is simple: The moment someone has access to the network where there are HDL Buspro traffic they don't need this server. All communication is done in plain text with
            no security. Therefore securing the frontend with a login would add a false sense of security. The web server front end (not the API for the commands) requires the user to be in the same local network.</p>

        <p>The security for the API and the commands lies in an automatically created random key when starting the server the first time. If the requests for the commands are missing the correct key they will not be executed.</p>

        <p>Keep in mind that there could potentially be security holes or weaknesses in the code of this server, the web framework it is built on, the built-in application server this runs on, the server you are running, your router, other
            network components, IFTTT and Google Assistant. You have no guarantees. If you want to stay safe, you should stay offline.</p>

        <p>If you want to learn a little more about security and HDL Buspro you can read the Google+ post at <a href="https://plus.google.com/+RoySolberg/posts/gNt4paU7KEZ">https://plus.google.com/+RoySolberg/posts/gNt4paU7KEZ</a>.</p>
    </div>
</div>

#parse('templates/footer.vm')
